<html>
<head>
  <title>Create Bookmark</title>
</head>
<body>
  <form method="post" action="/add_bookmark">
    <input type="text" name="url" value=""/>
    <input type="submit" name="submit" value="Create bookmark"/>
  </form>

</body>
</html>